[submodule "dotvim/bundle/unimpaired"]
	path = dotvim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "dotvim/bundle/snipmate-snippets"]
	path = dotvim/bundle/snipmate-snippets
	url = git://github.com/honza/snipmate-snippets.git
[submodule "dotvim/bundle/vim-rooter"]
	path = dotvim/bundle/vim-rooter
	url = git://github.com/airblade/vim-rooter.git
[submodule "dotvim/bundle/ag-vim"]
	path = dotvim/bundle/ag-vim
	url = git://github.com/rking/ag.vim.git
[submodule "dotvim/bundle/tabluar"]
	path = dotvim/bundle/tabluar
	url = git://github.com/godlygeek/tabular.git
